#chavetas {
    background-color: rgb(6, 47, 102);
}

.conteiner {
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.boxmodel {
   border: 3px solid lightblue;
    padding-top: 70px;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 100px;
    margin: 20px;
}

#dadosdiametro {
    border-bottom: 5px solid rgba(184, 152, 104, 0.4);
    border-right: 5px solid rgba(184, 152, 104, 0.4);
    float: right;
    box-shadow: 10px 10px lightblue;
 
}

h1{
    border-bottom: 5px solid rgba(184, 152, 104, 0.4);
    box-shadow: 10px 10px lightblue;
    color: brown;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#diametros {
    color: brown;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

#chavetas_desenho {
    float: right;
}

#engrenagem {
    width: 350px;
    transition: all 3s;
    &:hover {
      transform: rotate(1080deg);
    }
    
}

#dimentions {
    width: 610px;
    transition: all 3s;
    &:hover {
        transform: scale(1.1);
    }
}

option {
    width: auto;
}

.tolerancia {
    width: 50px;
}