body {
    background-color: aquamarine;
    background-image: url(/static/homepagebackground.jpg);
    background-size: cover;
}

h1{
    color:rgb(165, 42, 42);
    text-align: center;
    border: 5px solid rgba(240, 132, 132,0.4);
    cursor: wait;
}

h2{
    color:rgb(42, 165, 71);
    text-align: center;
    border: 5px solid rgba(240, 132, 132,0.4);
    cursor: pointer;
}

li{
    list-style: none;
    display: block;
}



.textlist{
    color: rgb(84, 0, 0);
}

#lorem1 {
    background-color: rgba(55, 120, 75, 0.352);
    color: aliceblue;
    font-size: 15px;
}

span {
    font-size: 2em;
}

#lorem1 p{
    
    /* text-transform: uppercase; */
    line-height: 25px;
    font-style: italic;
    font-weight: bold;
    font-size: 90%;
    font-family: 'Times New Roman', Times, serif;
}

#lifewild {
    color:rgb(42, 165, 71);
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 3em;
    font-family: fantasy;
    border-bottom: 2px solid pink;
    border-right: 2px solid pink;
    width: 400px;
    box-shadow: 10px 10px lightblue;
}

#flexboxes {
    width: 450px;
    height: 300px;
    transition: all 1s;
}
.flx:hover {
    transform: scale(1.1);
}
.conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.droplet {
    background: mediumaquamarine;
    border-radius: 2% 50%;
    height: 100px;
    margin: 100px;
    transition: all 3s;
    transition-timing: ease-in-out;
    width: 100px;
    
    &:hover {
      transform: rotate(1080deg);
    }
  }
/*
Cascading Style Sheets at the most basic level it indicates that the order of CSS rules matter. 


.class
#id
*
element
element, element
element element
element > element
element + element
:hover
:last-child
:first-child
!important (not recommended)


What seletors win out in the cascade depends on:
-Specificity
-Importance
-Source Order
*/