<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHAVETAS</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body id="chavetas">
    <h1>CHAVETAS</h1>
    <div class="conteiner">
        <div  class="boxmodel">
            <img src="/static/engrenagem.png" id="engrenagem" class="engrenagem">
              
            <div id="dadosdiametro" class="boxmodelmenor">
                Escolha a faixa do Diâmetro do Eixo:<br>
                Acima de - até:
                    <form method="get">
                    <select id="diametros">
                        <option value="6-8">6-8</option>
                        <option value="8-10">8-10</option>
                        <option value="10-12">10-12</option>
                        <option value="12-17">12-17</option>
                        <option value="17-22">17-22</option>
                        <option value="22-30">22-30</option>
                        <option value="30-38">30-38</option>
                        <option value="38-44">38-44</option>
                        <option value="44-50">44-50</option>
                        <option value="50-58">50-58</option>
                        <option value="58-65">58-65</option>
                        <option value="65-75">65-75</option>
                    </select>
                    </form>
            </div>
        </div>
        <div id="resultados" class="boxmodel"> 
            <img src="/static/chaveta_dimetions.PNG" id="dimentions">
            <h2> Dados da sua chaveta:</h2> <br>
            Largua da chaveta (b): <input type="text">
            Tolerância <input type="text" class="tolerancia" > <input type="text"class="tolerancia"> <br>
            Altura da chaveta(h): <input type="text">
            Tolerância <input type="text"class="tolerancia"> <input type="text"class="tolerancia">

            
        </div>
    </div>
</body>
</html>