<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loggin</title>
    <link rel="stylesheet" type="text/css" href="/static/style2.css">
</head>
<body>
    <a href="index1.html">Home</a>
    <a href="register.html">Register</a>
    <a href="loggin.html">Loggin</a>
    <a href="index.html">CHAVETAS</a>
    <div class="boxmodel">A</div>
    <div class="boxmodel">B</div>
    <div class="boxmodel">C</div>
</body>
</html>